@model IEnumerable<dronesIL.Models.user>

@{
    ViewData["Title"] = "Index";
}
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<style>
    table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }

    .btn {
        display: inline-grid;
        font-weight: 400;
        
        text-align: center;
        vertical-align: middle;
        /* -webkit-user-select: none; */
        -moz-user-select: none;
        -ms-user-select: none;
        user-select:all;
         color: white;
         background-color: #256eff;
        border: 1px solid black;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
     tbody {
     text-align: center;
     border:  1px solid gray;
     }
     .table thead th {
         vertical-align: bottom;
         border-bottom: 2px solid #dee2e6;
         text-align: center;
         background-color: #cad7e5;
     }
 
 
    </style>
<h1>ניהול משתמשים</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAdmin)
        </th>

        <th></th>
    </tr>
    </thead>
    <tbody >
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAdmin)

            </td>
            <td class="col-sm-3">
                
                <a class="btn" asp-action="Edit" asp-route-id="@item.userId">עריכה</a> |
                <a class="btn" asp-action="Delete" asp-route-id="@item.userId">מחיקת משתמש</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<div style="margin: 10%;text-align: center;">
    <p style="text-align: center">
        <a class="btn-primary" asp-area="" asp-controller="users" asp-action="Create" style="padding: 7px;">צור משתמש חדש </a>
    </p>
    
</div>

