@model dronesIL.Models.Order

@{
    ViewData["Title"] = "Create";
}
<style>

    .CartTd{
        padding-left:35px;
    }
    .CartTr{
        height:60px;
    }
    .RemoveFromCart{
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    }
    button :hover{
    background-color:#4095c6;
    }
</style>
<script>
    var script = document.createElement('script');
    script.src = 'https://code.jquery.com/jquery-3.4.1.min.js';
    script.type = 'text/javascript';
    document.getElementsByTagName('head')[0].appendChild(script);
    $('#OrderForm').submit(function () {
        debugger;
        localStorage['cart'] = null;
        var sum =@Model.sum;
        $('#sum').val(sum.toFixed(2));
        console.log($('#sum').val());
        return true; // return false to cancel form action
    });

</script>
<h1 style="text-align:center;">סל הקניות שלי</h1>


@if (this.Model.drones.Count != 0)
{
    <hr/>
    <div class="row" >
        <div class="col-md-4" style="text-align:right;">
            <form asp-action="Create" id="OrderForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="city" class="control-label">עיר</label>
                    <input asp-for="city" class="form-control"/>
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="street" class="control-label">רחוב</label>
                    <input asp-for="street" class="form-control"/>
                    <span asp-validation-for="street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="streetNum" class="control-label">מספר</label>
                    <input asp-for="streetNum" class="form-control"/>
                    <span asp-validation-for="streetNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="sum" class="control-label">סה"כ בשקל</label>
                    <span asp-for="sum" class="form-control" style="margin-right:0px;">@Model.sum</span>
                    <span asp-validation-for="sum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="אישור הזמנה" class="btn btn-primary"/>
                </div>
            </form>
        </div>
        <div style="margin-right:30%;">
            <h4 style="text-align:center;">פריטים</h4>
            @if (Model != null)
            {
                if (Model.drones != null)
                {
                    <table >
                        <tr>
                            <td class="CartTd" style="text-align: center; text-decoration: underline">שם</td>
                            <td class="CartTd">מחיר</td>
                        </tr>
                        @foreach (Drone drone in Model.drones)
                        {
                            <tr class="CartTr">
                                <td class="CartTd">
                                    @drone.name
                                </td>
                                <td class="CartTd">
                                    @drone.price
                                </td>
                                <td class="CartTd">
                                    <button class="RemoveFromCart" id="RemoveFromCart"   onclick="RemoveFromCart(@drone.droneId)">
                                        הסר
                                    </button>
                                </td>
                            </tr>
                        }
                    </table>
                    <a style="text-decoration: underline">   @Model.drones.Count פריטים בסל זה </a> 

                }
            }
        </div>
    </div>
}
else
{
    <h1 style="text-align:center;">הסל ריק</h1>
    <div style="text-align: center"> <a style="color: red; text-decoration:blink"> עדיין לא בחרת רחפן ? <a asp-controller="DronesSearch" asp-action="Index">לחץ כאן ותתחיל בקניות  </a>
        </a></div>
    }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
