@model IEnumerable<dronesIL.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streetNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.orderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.orderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.orderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
